/* Some code below is taken from Professor Chow's example here (https://github.com/tuftsdev/WebProgramming/blob/gh-pages/examples/google_maps/geolocation_map_style.css) */

html {
	height: 100%;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
    background-color: #f5f3a2
}

#map_canvas {
	width: 100%;
	height: 100%;
}

.wrapper {
    display: flex;
    align-items: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;

}

a {
    display: flex;
    flex-basis: content;
    flex: flex-grow;
    margin-right: 5%;

}

.logo {
    display: flex;

}

.title {
    display: flex;
    align-items: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    padding-right: 5%;

}

h1 {
    font-family: "System Font";
    font-weight: thin;

h2 {
    font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}
